.about {
  padding-top: 120px;
  padding-bottom: 235px;
  display: grid;
  grid-template-columns: 35.8% 56.9%;
  column-gap: 85px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 133px;
    display: block;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.about h2 {
  @include vp-desktop-only {
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
  }

  @include vp-1199 {
    padding-right: 16px;
    text-align: center;
    margin-bottom: 0;
  }

  @include vp-767 {
    text-align: left;
    margin-bottom: 5px;
    padding-right: 0;
  }
}

.about span {
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 33px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 24px;
    text-align: left;
  }
}

.about p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 7px;

  @include vp-1199 {
    text-align: center;
    width: 74.04%;
    margin: 0 auto;
    margin-bottom: 7px;
  }

  @include vp-767 {
    text-align: left;
    margin: 0;
    margin-bottom: 7px;
    width: 90%;
  }
}

.about__text-content {
  padding-top: 39px;
  padding-left: 60px;

  @include vp-1199 {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 33px;
  }
}

.about img {
  width: 100%;
  height: auto;
}
