.about {
  padding-top: 120px;
  padding-bottom: 119px;
  display: grid;
  grid-template-columns: 35.8% 56.9%;
  column-gap: 85px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.about h2 {
  @include vp-desktop-only {
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
  }

  @include vp-1199 {
    padding-right: 16px;
    text-align: center;
    margin-bottom: 0;
  }

  @include vp-767 {
    text-align: left;
    margin-bottom: 5px;
    padding-right: 0;
  }
}

.about span {
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 33px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 24px;
    text-align: left;
  }
}

.about p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 7px;

  @include vp-1199 {
    text-align: center;
    width: 74.04%;
    margin: 0 auto;
    margin-bottom: 7px;
  }

  @include vp-767 {
    text-align: left;
    margin: 0;
    margin-bottom: 7px;
    width: 90%;
  }
}

.about__text-content {
  padding-top: 39px;
  padding-left: 60px;

  @include vp-1199 {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 33px;
  }
}

.about img {
  width: 100%;
  height: auto;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.about__video-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/svg/circle.svg");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 1;

  @include vp-1199 {
    width: 73px;
    height: 73px;
    background-size: 73px 73px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.about__video-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }
}

.about__video-button-play {
  width: 17px;
  height: 17px;
  z-index: 2;
  display: block;
  margin-left: 4px;

  @include vp-1199 {
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-bottom: 1px;
  }

  @include vp-767 {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }
}

.about__video {
  position: relative;
  width: 87.7%;
  margin-top: -113px;
  margin-left: 105.3%;

  @include vp-1199 {
    width: 39.23%;
    margin-top: -84px;
    margin-left: 30.38%;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

.about__video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.about__video img {
  margin-bottom: 0;
}
