.button {
  display: inline-flex;
  justify-content: center;
  padding: 20px 25px 20px;
  color: $color-white;
  background-color: transparent;
  border: 2px solid $color-white;
  box-shadow: 0 0 0 2px $color-white;
  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
