.contacts {
  width: 79.31%;
  padding-top: 58px;
  padding-bottom: 70px;
  margin-left: auto;

  @include vp-1199 {
    width: 65.3%;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 61px;
  }

  @include vp-767 {
    width: 100%;
    padding: 63px 15px;
  }
}

.contacts h2 {
  margin-bottom: 36px;

  @include vp-1199 {
    margin-bottom: 32px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.contacts__content {
  padding-left: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 45% 36.95%;
  gap: 84px;

  @include vp-1199 {
    padding-left: 0;
    gap: 88px;
    grid-template-columns: 45% 35%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.contacts__content::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  background-color: #74819c;
  top: 6px;
  left: 50.9%;

  @include vp-1199 {
    left: 53%;
    top: 7px;
  }

  @include vp-767 {
    height: 0;
  }
}

.contacts__content dl {
  margin: 0;
}

.contacts__content dt {
  font-weight: 700;
  margin-bottom: 3px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }
}

.contacts__content dd {
  margin: 0;
  font-size: 14px;
  line-height: 21.3px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27.42px;
  }
}

.contacts__list dd:not(:last-of-type) {
  margin-bottom: 18px;

  @include vp-767 {
    margin-bottom: 19px;
  }
}
