.custom-input {
  position: relative;
  display: flex;

  input {
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #74819c;
    outline: none;
    font-family: inherit;
    color: $color-whisper;
    padding: 5px 0;
    margin-bottom: 20px;
  }

  input::placeholder {
    color: $color-white;
    font-size: 14px;
    line-height: 16.4px;
    font-family: inherit;
  }

  input:hover,
  input:focus {
    border-bottom-color: $color-white;
  }

  .input-message {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .input-message.is-invalid {
    color: $color-torch-red;
  }
}

.custom-input.is-invalid {
  input {
    border-bottom-color: $color-torch-red;

    &:focus,
    &:hover {
      border-bottom-color: rgba($color-torch-red, 0.5);
    }
  }
}
