.logo {
  font-family: $ff-alumni-sans;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0.7px;
  font-weight: 600;
  color: $color-white;

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.4px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
