.reviews {
  padding-top: 67px;
  padding-bottom: 119px;

  @include vp-1199 {
    padding-top: 46px;
    padding-bottom: 77px;
  }

  @include vp-767 {
    padding-bottom: 70px;
    padding-top: 34px;
  }
}

.reviews h2 {
  text-align: center;
  padding-left: 6px;
  margin-bottom: 36px;

  @include vp-1199 {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 4px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    padding-right: 2px;
  }
}

.reviews__slider {
  width: 57.93%;
  padding: 0 56px;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.reviews__slider-button-next,
.reviews__slider-button-prev {
  position: absolute;
  top: 105px;

  @include vp-767 {
    top: 158px;
  }
}

.reviews__slider-button-next {
  right: 0;

  @include vp-767 {
    right: -2px;
  }
}

.reviews__slider-button-prev {
  left: 0;
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews__card {
  background-color: $color-sapphire;
  color: $color-white;
  padding: 62px 62px 46px 62px;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 12px 28px;

  @include vp-1199 {
    padding: 62px 65px 47px;
    gap: 11px 28px;
  }

  @include vp-767 {
    padding: 40px 25px 23px 25px;
    grid-template-columns: 47.73% 43.75%;
    gap: 15px 15px;
  }
}

.reviews__card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;

  @include vp-767 {
    width: 68px;
    height: 68px;
  }
}

.reviews__card-img-wrapper {
  grid-row: 1/3;

  @include vp-767 {
    grid-row: auto;
    justify-self: end;
  }
}

.reviews__card p {
  grid-column: 2/3;
  margin: 0;
  line-height: 22.4px;
  margin-bottom: 10px;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__card h3 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-top: -7px;

  @include vp-767 {
    line-height: 26px;
    margin-right: 15px;
    align-self: center;
    margin-top: 0;
  }
}
