.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.slider-button--prev {
  background-image: url("../img/svg/prev.svg");
}

.slider-button--next {
  background-image: url("../img/svg/next.svg");
}
