.trainers {
  padding-bottom: 100px;
}

.trainers__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.trainers__card {
  position: relative;
  width: 22.41%;
  height: auto;
  background-color: $color-sapphire;

  @include vp-1199 {
    width: 39.53%;
  }
}

.trainers__card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $color-white;
  padding: 51px 46px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.trainers__card h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-top: auto;
}

.trainers__card-hidden-content {
  display: none;
}

.trainers__card span {
  margin-bottom: 34px;
}

.trainers__card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.trainers__card li {
  font-size: 14px;
  line-height: 21px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 13px;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 9px;
  }
}

// .trainers__card h3 {
//   margin-top: 0;
//   z-index: 1;
// }

// .trainers__card-hidden-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: -4px;
//   z-index: 1;
// }

// .trainers__card::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba($color: $color-sapphire, $alpha: 0.89);
// }

.trainers__card:focus,
.trainers__card:hover {
  box-shadow: offset 0px 0px 35px 0px #2a3b632b;
}

.trainers__card:focus h3,
.trainers__card:hover h3 {
  margin-top: 0;
  z-index: 1;
}

.trainers__card:focus .trainers__card-hidden-content,
.trainers__card:hover .trainers__card-hidden-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  z-index: 1;
}

.trainers__card:focus::after,
.trainers__card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $color-sapphire, $alpha: 0.89);
}
